@import "../SharedStyles/Colors.uss";

.unity-label {
    padding: 0;
}

.tool-button {
    width: 32px;
    height: 32px;
    border-bottom-width: 1px;
}

.tool-button.selected {
    border-color: var(--neutral-color);
}

.tool-button-icon {
    flex-grow: 1;
    opacity: 0.5;
    -unity-background-image-tint-color: var(--neutral-color);
}

.tool-button-icon.selected {
    opacity: 1;
}